<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807534588486-g51up57vag6vcu3j0kiuh35nft199b1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807534588486-g51up57vag6vcu3j0kiuh35nft199b1p</string>
	<key>API_KEY</key>
	<string>AIzaSyBDpje-8vjgOd5_mvgSCG_FqRG9iZcG4v8</string>
	<key>GCM_SENDER_ID</key>
	<string>807534588486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookit</string>
	<key>PROJECT_ID</key>
	<string>cookit-1a276</string>
	<key>STORAGE_BUCKET</key>
	<string>cookit-1a276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807534588486:ios:29fa585a0fdf674f459047</string>
</dict>
</plist>